<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Short URL</title>
    </head>
    <body>
        <h1>User Sign-Up</h1>
        <form method="post" action="/user">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter Name" />
            <label for="email">Email:</label>
            <input
                type="email"
                name="email"
                id="email"
                placeholder="example@email.com"
            />
            <label for="password">Password:</label>
            <input
                type="password"
                name="password"
                id="password"
                placeholder="Password"
            />
            <button>Sign-Up</button>
        </form>
    </body>
</html>
